{% extends "base.html" %}

  {% block css %}
  <link rel="stylesheet" href={{url_for("static", filename="css/common.css")}}>
  {% endblock %}
  
  {% block title %} DownVid-Contact{% endblock %}

{% block main_content %}
   <div class="main-content">
         <h2 style="margin-top: 10vh">
        Coming soon!!
      </h2>
      <br>
      <img src='{{url_for("static",filename="images/laugh.gif")}}' style="padding-bottom:50vh">
     </div>
          
 <menu>
    <div class="menu-content">
      <div class="option">
      <ul class="list">
        <li><a href="/" target="_blank">Home<me/a></li>
          <li><a href="/#use" onclick="changeMenu()">How to use</a></li>
        <li><a href={{url_for("about")}} target="_blank"></textarea>About Me</a></li>
        <li><a href={{url_for("contact")}} target="_blank">Contact Me</a></li>
        <li><a href={{url_for("report")}} target="_blank">Report Me</a></li>
      </ul>
    </div>
    </div>
  </menu>
 {% endblock %}
   {% block script %}
<script src={{url_for("static", filename="js/common.js")}}></script>
{% endblock %}
