{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href={{url_for("static",filename="css/common.css")}} >
{% endblock %}

{% block title %} Blocked {% endblock %}


{% block main_content %}
<div class="main-content">
<img src="{{url_for("static",filename="images/cid_meme.gif")}}" class="emoji">
<div class="not-found-content">
<h1>[Attacker Detected]<h1>
<h4>Too many request.You made too many request to server than limit.Try again after sometime.Due to your more requests your IP has been blocked.</h4>
</div>
</div>
  
  <menu>
    <div class="menu-content">
      <div class="option">
      <ul class="list">
        <li><a href="/" target="_blank">Home<me/a></li>
          <li><a href="/#use" onclick="changeMenu()">How to use</a></li>
        <li><a href={{url_for("about")}} target="_blank"></textarea>About Me</a></li>
        <li><a href={{url_for("contact")}} target="_blank">Contact Me</a></li>
        <li><a href={{url_for("report")}} target="_blank">Report Me</a></li>
      </ul>
    </div>
    </div>
    
  </menu>

{% endblock %}

{% block script %}
<script src={{url_for('static', filename="js/common.js")}} ></script>
{% endblock %}   
      